html,
body {
  padding: 0;
  margin: 0;
  background-color: #577399!important;
  color: #F7F7FF!important;

}

.left-buttons {
  background-color: #FE5F55!important;
}

.search-buttons {
  background-color: #BDD5EA!important;
  color: #495867!important;
}

.search-buttons:hover {
  background-color: #495867!important;
  color: #F7F7FF!important;
}

input#location-input {
  min-width: 300px;
}

#temperature {
  font-size: 2.5rem;
}

.weather-description {
  font-size: 1.5rem;
}
